@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Urbanist', sans-serif;
	background-color: #060822;
	font-weight: 400;
}

.container{
	width: 100%;
	max-width: 420px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	padding-top: 4rem;
	position: relative;
}
.title{
	color: #fff;
	text-align: center;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}
.title .date{
	font-size: 13px;
	display: block;
}
.timeList{
	list-style-type: none;
	margin: 0;
	font-size: 14px;
}
.timeList>li{
	padding: 10px 10px;
	margin-bottom: .65rem;
	background-color: #00c3ff;
	border-radius: 2px;
	letter-spacing: 1px;
	position: relative;
}
.timeList>li.timeBreak{
	margin-bottom: 1.5rem;
}
.timeList>li.totalRecMin{
	background-color: #dbf904;
}

.timeList>li .slotBt{
	display: inline-block;
	background-color: #dbf904;
	padding: 5px;
	border-radius: 2px;
	position: absolute;
	top: 5px;
	right: 5px;
}
.action{
	position: absolute;
	bottom: 5px;
	right: 5px;
	display: inline-block;
	background-color: #060822;
	padding: 5px;
	color: #fff;
	border-radius: 3px;
	font-size: 12px;
}
.action.del{
	background-color: #ff3000;
	right: 30px;
}
.btn{
	padding: 10px 35px;
	border: 0;
	border-radius: 5px;
	font-size: 16px;
	width: 100%;
	font-weight: 500;
	letter-spacing: 2px;
	margin-bottom: 1rem;
	cursor: pointer;
}
.btn-group .add{
	background-color: #50ff00;
}
.deleteAll{
	background-color: red;
	padding: 10px 45px;
	color: #fff;
	border-radius: 3px;
	border: 0;
	width: 100%;
	font-size: 15px;
	margin-top: 2rem;
}
.alert{
	padding: 15px;
	background-color: #ff3000;
	margin-bottom: 1rem;
}
.timeCounter{
	width: 60px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	background-color: #dbf904;
	border: 1px solid red;
	position: relative;
}
.timeCounter .sec{
	position: absolute;
	top: 5px;
	right: 7px;
	font-size: 12px;
}
.total{
	color: #fff;
	margin-bottom: 5px;
	font-size: 18px;
}
.timer{
	position: fixed;
	right: 0;
	top: 40%;
	color: #000;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #dbf904;
	border: 2px solid #00c3ff; 
	font-weight: 500;
}
.approaxTime{
	color: red;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 10px;
}

.popup{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .95);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #fff;
}

.editScreen{
	width: 100%;
	padding: 15px;
	background-color: #3e3f51;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}
.timeTitle{
	color: #fff;
	font-weight: 700;
	font-size: 16px;
}
.timesWrpr{
	display: flex;
	color: #dbf904;
}
.timesWrpr label{
	margin-right: 10px;
}
.formControl{
	padding: 5px 10px;
	border: 1px solid #111;
	margin-left: auto;
}

.timeList>li.totalRecMin::after{
	content: '';
	clear: both;
	display: block;
}
.totalRecMin .btn{
	float: right;
	width: 30px;
	padding: 10px;
	margin-right: 5px;
	font-size: 10px;
}
.toggler > span{
	display: none;
}
.toggler{
	background-color: rgb(204, 202, 202);
	width: 25px;
	height: 2px;
	border: none;
	position: absolute;
	right: 10px;
	top: 20px;
	z-index: 10;
}
.toggler::before,
.toggler::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 2px;
	background-color: rgb(204, 202, 202);
}

.toggler::before{
	top: -6px;
}
.toggler::after{
	bottom: -6px;
}

.asideSidebar{
	z-index: 5;
	position: fixed;
	top: 0;
	right: -150%;
	bottom: 0;
	max-width: 450px;
	background-color: rgba(0, 0, 0, .55);
	backdrop-filter: blur(7px);
	padding: 35px 15px;
	transition: 350ms ease-in-out;
	overflow: auto;
}
.asideSidebar.show{
	right: 0;
}

.asideSidebar .dataList{
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	background-color: #016889;
	padding: 10px;
	border-radius: 10px;
	font-size: 14px;
	overflow: auto;
}
.asideSidebar .dataList .mainDate{
	background-color: #50ff00;
	padding: 8px;
	font-size: 16px;
	border-radius: 5px;
	margin-bottom: 8px;
	font-weight: 600;
}
.asideSidebar .dataList .timeBreak{
	background-color: #04bdfa;
	margin-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
	padding: 8px;
	border-radius: 5px;
}
.asideSidebar .dataList .timeBreak .start,
.asideSidebar .dataList .timeBreak .end{
	width: 100%;
	font-size: 15px;
	margin-bottom: 5px;
}
.asideSidebar .dataList .timeBreak .slotTotal{
	width: 100%;
	text-align: center;
	margin-top: 4px;
	background-color: #dbf904;
	padding: 5px;
	border-radius: 3px;
}